.container{
    background-image: linear-gradient(#a4c744,#6db8ca,#e46faf);
    height: 50rem;
    width: 800px;
    margin: 1rem;
    padding:0px 20px 0px 10px;
}

h1{
    text-align: center;
    color: #e04090;
}

    @media (max-width: 787px) {
        .container{
            height: 80rem;
            width: 700px;
        }
        
    }
    

